.about-image {
  width: 100%;
  max-width: 600px; /* Limit the image size */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.container {
  padding: 30px; /* Add some padding */
   /* background-color: #25406b;  /* Dark blue color for headings */
}

h1,
h2 {
  color: #25406b; /* Dark blue color for headings */
}

.lead {
  font-size: 1.2rem; /* Slightly larger font for emphasis */
}

ul {
  margin-top: 10px; /* Spacing for lists */
}

a {
  color: #75ba43; /* Link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}
